.op-02{
    opacity: 0.2;
}

.op-04{
    opacity: 0.4;
}

.fs-12{
    font-size: 12px;
}

.ff{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav a:hover{
    font-weight: bolder;

}